
.Scenarios {
    background-color:#f0ebeb;
    margin-top: 20px;
    line-height: 145%;
    margin-bottom: 20px;
}

.Combatsh {
    margin-top: 20px;
    background-color:#f0ebeb;
}

.WelUnwelcoming {
    margin-left: 20px;
}

.difference {
    margin-left:20px;
}


